* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  height: 100%;
  background: #a4530c;
}
.container {
  background-color: #ffffff;
  width: 400px;
  height: 550px;
  padding-top: 5px;
  padding-right: 35px;
  padding-bottom: 35px;
  padding-left: 35px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: none;
  border-radius: 10px;
  -webkit-perspective: 300px;
  perspective: 300px;
}
.stats {
  display: flex;
  color: #101020;
  font-weight: 500;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 30px;
  margin-top: 35px;
  box-shadow: 0 0 2px 2px rgb(222, 209, 74);
}
.stats p:first-child {
  margin-left: 10%;
}
.stats p:nth-last-child(1) {
  margin-left: 35%;
}
.winlose {
  display: flex;
  color: #584a05;
  font-weight: 500;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 15px;
  margin-top: 30px;
  box-shadow: 0 0 2px 2px rgb(222, 209, 74);
}
.winlose p:first-child {
  margin-left: 21%;
}
.winlosenumber {
  display: block;
  color: #2c2605;
  font-weight: 500;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
}
.coin {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 32px auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.coin img {
  width: 145px;
}
.heads,
.tails {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tails {
  transform: rotateX(180deg);
}
@keyframes spin-tails {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(1980deg);
  }
}
@keyframes spin-heads {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(2160deg);
  }
}
.buttons1 {
  display: flex;
  justify-content: space-between;
}
.buttons2 {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
#heads-button,
#tails-button {
  width: 150px;
  padding: 15px 0;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #785a1d;
  color: white;
}
#reset-button,
#flip-button {
  width: 150px;
  padding: 15px 0;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #785a1d;
  color: white;
}
#flip-button:disabled,
#heads-button:disabled,
#tails-button:disabled {
  background-color: #e1e0ee;
  border-color: #e1e0ee;
  color: #101020;
}
